
<div th:fragment="footer" class="footer">
    <nav class="text-center">
        <div class="footer-inner">
            <div class="copyright">&copy; 2017 &mdash; <span itemprop="copyrightYear">2020</span>
                <span class="with-love">
                                    <i class="fa fa-heartbeat"></i>
                                </span>
                <span class="author" itemprop="copyrightHolder">Acc2020</span>
            </div>
            <label>基于Spring Boot实现Java高并发之秒杀系统</label>
        </div>
    </nav>
</div>